<nav class="bg-blue-600 text-white p-4 flex justify-between">
    <div class="text-lg font-bold">My Logo</div>
    <div>
        <a href="/" class="px-3 hover:underline">Home</a>
        <a href="/about" class="px-3 hover:underline">About</a>
    </div>
</nav>
